[2019-03-05 15:29] jonasrosland opened #14 "Create a new web publishing workflow"
The current publishing workflow through GitHub pages leaves a lot to be desired. It can be rather unintuitive for newcomers, and relies on us maintaining two separate repositories (/blog and /goharbor.github.io) for every change, small or large.

I propose moving away from GitHub pages and instead use [Netlify](https://www.netlify.com), which would then come with the following benefits:

- No need

[2019-03-05 18:37] lucperkins commented on #14
@jonasrosland I can get this taken care of. PR forthcoming.

[2019-03-05 18:40] lucperkins commented on #14
@jonasrosland Could you possibly make me an admin on this repository? That will speed the process a great deal.

[2019-03-13 12:24] idvoretskyi opened #17 "Certificate invalid at https://goharbor.io/"
https://goharbor.io/ has an invalid HTTPS certificate.
![Screenshot 2019-03-13 at 12 21 07 PM](https://user-images.githubusercontent.com/118459/54278594-a9ea0380-458a-11e9-876b-a03ce9e536ae.png)

Seems to be a Netlify misconfiguration - https://www.sslshopper.com/ssl-checker.html#hostname=https://goharbor.io/.

cc @lucperkins

[2019-03-13 15:29] #17 closed

[2019-03-13 15:29] lucperkins commented on #14
The DNS has now been migrated, so we’re all set here.

[2019-03-13 15:29] #14 closed

[2019-09-18 04:59] Qquanwei opened #27 "Enterprise Logo Wrong - Netease Cloud"
![image](https://user-images.githubusercontent.com/9263655/65112956-df791900-da13-11e9-98eb-00296b622983.png)
This logo is Netease Cloud Music without Netease Cloud.
Netease Cloud Music: main website: https://music.163.com/

[2019-09-18 14:08] jonasrosland commented on #27
Hi @Qquanwei, what's the correct logo? The one you have posted here is the one that's on the site:
![image](https://user-images.githubusercontent.com/1690215/65155991-42f74c80-d9fc-11e9-9294-5925c7a7eb13.png)

[2019-09-18 14:19] Qquanwei commented on #27
Netease Cloud main website is: https://www.163yun.com/
I think the correct logo is, BUT I'm not the official.

![https://www.163yun.com/res/logo3.png](https://www.163yun.com/res/logo3.png)

[2019-09-18 14:23] jonasrosland commented on #27
Thank you for raising the issue @Qquanwei. @steven-zou can you verify the correct logo for us to use here?

[2019-09-25 02:26] steven-zou commented on #27
![NetEase](https://drive.google.com/file/d/1sSfHyBl2PsbgcOWO9PQxfCqZes4QDMgm/view?usp=sharing)

[2020-01-31 18:46] lucperkins opened #36 "Provide higher-resolution images for users and partners"
The current user and partner logos are very grainy. Better improved would provide a quick aesthetic win.

[2020-04-20 17:29] jonasrosland commented on #27
Hi @Qquanwei , this has been fixed on the new website, thank you for your help here.

[2020-04-20 17:29] #27 closed

[2020-04-20 17:30] jonasrosland commented on #36
I'll keep this issue open, but we have implemented higher-res images for most of the users and partners on the new website. I think it warrants a second pass though, before closing.

[2020-04-21 23:41] rosskusler opened #65 "The /docs/latest endpoint is broken"
Several links on the front page of the site are not working because /docs/latest/ is broken.

For instance the 'Harbor Installation and Configuration' link points to https://goharbor.io/docs/latest/install-config and the 'Harbor Administration' link points to https://goharbor.io/docs/latest/administration but neither of those links work.

Links to https://goharbor.io/docs/1.10/ work.. but not /doc

[2020-04-21 23:52] rosskusler commented on #65
Looks like 65ced20ccf7ac7969211cf31db06189b541312a6  changed the structure of params.versions such that layouts/index.redirects needs to be changed sort of like this:

[code]

[2020-04-22 01:28] jonasrosland commented on #65
Hi @rosskusler , seems that you are correct!
Would you want to add this change into a PR?

[2020-04-24 14:56] #65 closed

[2020-08-03 08:49] reasonerjt opened #85 "Make sure the PR in harbor repo is reflected in the new repo."
https://github.com/goharbor/harbor/pull/10893

[2020-08-14 09:51] mhurtrel opened #89 "Homepage still showing Incubating badge"
Hi everyone. Just spotted Harbor homepage still show a "incubating" CNCF badge, while the project has now graduated.
Couldn't quickly find the homepage content page on the website  project, so couldn't make a quick PR sorry about it.

[2020-08-14 14:22] #89 closed

[2020-08-14 14:23] jonasrosland commented on #89
Thank you for spotting this! Fixed now :)

[2020-08-29 06:36] GeoffMillerAZ opened #99 "[BUG] documentation for harbor.yaml has wrong subkey for internal_tls"
https://github.com/goharbor/website/blob/master/docs/install-config/configure-yml-file.md

On that page it shows:

`internal_tls` with `subkey` certificate for `The path to the directory that contains internal certs and keys`. The subkey is not `certificate`

resulting error:
[code]

resolution:
change the subkey from `certificate` to `dir`

[2020-08-29 06:45] GeoffMillerAZ commented on #99
https://github.com/goharbor/website/pull/100

[2020-09-18 14:47] a-mccarthy commented on #99
closed by #100

[2020-09-18 14:47] #99 closed

[2020-09-24 20:58] a-mccarthy opened #114 "Broken links in shortcodes"
Links inside of short codes are broken. I've seen this happen with links in the note/warning/info shortcode.

Problem:

To handle links there is a custom markdown render hook added to the site (/layouts/_default_markup/render-link.html). In the note shortcode (/layouts/partials/admonition.html), content is passed to the Hugo markdownify function to render in markdown, but markdownify does not call

[2020-09-28 03:38] bitsf opened #116 "the harbor api url should be update"
in doc https://github.com/goharbor/website/blob/master/docs/install-config/configure-user-settings-cli.md, the api url is not correct.

[2020-09-29 13:34] a-mccarthy opened #118 "Swagger page points to wrong location of swagger file"
The test and build swagger page, https://goharbor.io/docs/2.1.0/build-customize-contribute/configure-swagger/, points to the main harbor repo /docs folder as the location of the swagger.yml file. This has changes since the /docs folder was moved into this repo.

This should be updated to the new location of the swagger file and to include any information on the how this file is versioned.

**Quest

[2020-09-29 13:35] a-mccarthy commented on #118
@xaleeks can you help with the questions above? thanks!

[2020-09-30 09:20] #116 closed

[2020-09-30 11:02] reasonerjt opened #121 "The search result should point to latest doc"
When I do a search "Garbage Collection" the first result points to the 2.0.0 doc.

Ideally, it should point to the latest released version.

I'm not sure if it's due to the limitation of netify.

@xaleeks and @a-mccarthy could you check?

[2020-09-30 13:09] a-mccarthy commented on #121
@jonasrosland can we control the order the search results appear in or show which version set a docs belongs to?

[2020-09-30 13:32] jonasrosland commented on #121
I belive so, let me look into it.

[2020-10-29 19:09] a-mccarthy commented on #114
closing bc this can be solved with using relative links :)

[2020-10-29 19:09] #114 closed

[2020-11-05 18:39] a-mccarthy commented on #118
@xaleeks were you able to check into this?

[2020-11-09 05:50] sober-wang opened #137 "Can you open the edit button on harbor docs page?"
We want contributer some documentary in Harbor docs. But we are  only wait you update the Harbor docs page.
I feel this is unfriendly and decrease Harbor community funcution.
You should learning the kubernetes docs page , next add a  button for edit the docs page in the Harbor docs page.

![图片](https://user-images.githubusercontent.com/35804630/98504623-72b58380-2292-11eb-9d6f-79057858966c.png)

[2020-11-09 06:16] reasonerjt commented on #137
I'm not sure if K8S and goharbor.io use netify the same way.
But you can always write up a PR if you want to propose any change to the doc.

[2020-11-09 13:12] sober-wang commented on #137
no , PR is so lower , and unfriendly for some people.

[2020-11-09 15:42] a-mccarthy commented on #137
+1 to PRs always being welcome if you have a change you want to propose.

We do already have a Page Source button on the docs pages on the harbor site:

![Screen Shot 2020-11-09 at 10 37 07 AM](https://user-images.githubusercontent.com/20771501/98562415-0cbc0280-2278-11eb-9b2d-d3b42564128d.png)
.

[2020-11-10 20:07] a-mccarthy commented on #121
@jonasrosland opened an issue with the cncf team for help resolving this.

[2020-11-11 15:25] jonasrosland opened #140 "Umbrella issue on improvements for contributing to the docs"
There are a few things that can be done to help with contributing to the website and docs:

- [ ] Create issue template for the repo explaining the process
- [ ] Create an "Edit" button on the right hand side of the docs
- [ ] Make sure issues are created in the website repo instead of the harbor repo

[2020-11-15 10:12] sluetze opened #142 "i18n docs incomplete"
Hi,

while doing some i18n on Harbor I recognized the docs seem to be incomplete at two points

1. goversions in Harbor build are outdated, thus the build does not succeed [see here](https://goharbor.io/docs/2.1.0/build-customize-contribute/compile-guide/)
1. The i18n docs are missing one file, which needs to be edited to successfully add a language [see here](https://goharbor.io/docs/2.1.0/build-

[2020-11-21 08:41] heww commented on #118
Can this section [View and Test the Harbor REST API via Swagger](https://goharbor.io/docs/2.1.0/build-customize-contribute/configure-swagger/)  be removed from the document?  Harbor includes the swagger explorer in the portal from v1.8.

There is a related issue https://github.com/goharbor/harbor/issues/13552 in the harbor repo.

cc @xaleeks

[2020-11-23 21:08] xaleeks commented on #121
so we can close this right

[2020-12-01 05:53] YahuiAn opened #152 "/data/redis should also be removed before performing a clean re-installation"
see [Other Commands](https://github.com/goharbor/website/blob/712a3c4531b3297d5fc61a6fe4cdf97274a8e760/docs/install-config/reconfigure-manage-lifecycle.md#other-commands)

[2020-12-05 21:30] Marki4711 opened #155 "Trivy: Insecure Option is not honored"
**Expected behavior and actual behavior:**
I use Harbor in an enterprise environment, that needs to use an enterprise web proxy. This proxy does ssl interception. Therefore the original certificate of the target url is replaced with an internal certificate.

I want to use Trivy in this environment. When I scan a image with Trivy, I get the error that downloading vuln-db was unsuccessful because of

[2020-12-05 21:34] danielpacak commented on #155
👋 @a-mccarthy After investigation we found out that it's basically a configuration issue. However, it's not documented how one can configure a custom certificate authorities (CAs) for Trivy container (see https://github.com/goharbor/website/issues/155#issuecomment-737193290).

Do you think we can give add it somewhere to the official docs?

[2020-12-07 03:12] #142 closed

[2021-01-07 17:20] a-mccarthy opened #159 "Update quick install instructions to remove no longer maintained script"
https://goharbor.io/docs/2.1.0/install-config/quick-install-script/ uses a script that is no longer maintained, [see comment](https://gist.github.com/kacole2/95e83ac84fec950b1a70b0853d6594dc#gistcomment-3480462).

We should update this page to remove the script or include the more preferred install path.

Related to PR #151

[2021-01-07 17:21] a-mccarthy commented on #159
@xaleeks can you provide some more guidance on how we can improve this page?

[2021-01-08 18:16] a-mccarthy opened #162 "Tables on some pages are too wide, content gets cut off"
* https://goharbor.io/docs/edge/install-config/configure-yml-file/
* https://goharbor.io/docs/edge/install-config/configure-user-settings-cli/
* https://goharbor.io/docs/edge/build-customize-contribute/registry-landscape/

[2021-02-04 05:22] stonezdj opened #174 "Update proxy configuration to add whitelist tips for trivy"
https://goharbor.io/docs/2.1.0/install-config/configure-yml-file/

**Configure proxies to be used by Clair, the replication jobservice, and Harbor. Leave blank if no proxies are required.**

Need to change to

Configure proxies to be used by trivy-adapter, the replication jobservice, and Harbor. Leave blank if no proxies are required.
Some proxy has whitelist settings, if trivy is enabled,  need t

[2021-02-04 05:25] stonezdj opened #175 "Remove clair from the config yml file"
Because clair is ship with harbor bundle, the clair related option should be removed.
https://goharbor.io/docs/2.1.0/install-config/configure-yml-file/

[2021-02-06 23:56] a-mccarthy commented on #175
@stonezdj What happens if someone was using Clair as the default scanner and upgrades to 2.2? Will they need to change to trivy before upgrading?

thanks!

cc: @xaleeks

[2021-02-06 23:58] a-mccarthy commented on #159
@xaleeks pinging you again. This script also uses Clair which is removed in 2.2

[2021-02-07 00:51] a-mccarthy commented on #162
@jonasrosland are you working on this? can I assign it to you?

[2021-02-07 01:01] a-mccarthy commented on #152
include `data/redis` in the Other Commands section for what to remove before performing a clean re-installation on the /install-config/reconfigure-manage-lifecycle.md page.

[2021-02-08 08:18] steven-zou opened #177 "Update the `master` role to `maintainer` role in all the related docs"

[2021-02-09 13:42] a-mccarthy commented on #177
@steven-zou i think this has already been changed in the edge and 2.1 docs. Do you have a specific page where you saw this?

[2021-02-20 22:57] a-mccarthy commented on #155
adding the good first issue label to add the information from [this comment](https://github.com/goharbor/website/issues/155#issuecomment-737193290) into the docs

[2021-02-21 13:33] sluetze commented on #155
Hi,
I'll file a PR this week to add it to documentation. If there is no objection I'll add it as seperate Page under https://goharbor.io/docs/2.1.0/administration/vulnerability-scanning/

[2021-02-21 16:27] a-mccarthy commented on #155
@sluetze thanks! that sounds good to me, only wanted to note to please make the PR against master branch ( https://goharbor.io/docs/edge/administration/vulnerability-scanning/) and then we can backport the change to the other release branches as needed.

If this is something a user would need to now about at install, we could also think about adding a note to the install page, https://goharbor.io/

[2021-02-24 02:45] heww opened #180 "The description of the SCANNING_COMPLETED webhook json payload is incorrect"
There isn't vulnerability information (CVE ID, description, link to CVE, criticality, URL for any fix) in the payload of the SCANNING_COMPLETED webhook.

![image](https://user-images.githubusercontent.com/5634205/108939857-598fe180-768d-11eb-9533-e61c0630329b.png)

[2021-02-24 07:48] stonezdj opened #181 "Add more information on the LDAP group configure"
There is a bug in the LDAP group search which doesn't consider the LDAP group Filter item if it is not well configured. It is fixed after Harbor 2.1.3, but it might looks like a breaking change,  some configuration works before 2.1.3, but doesn't work after 2.1.3.

Could you please add information to the LDAP configure item?

https://goharbor.io/docs/2.0.0/administration/configure-authentication/l

[2021-02-24 15:24] jonasrosland commented on #162
Anyone who would like to take this on, feel free to do so :)

[2021-02-26 04:36] #181 closed

[2021-02-26 15:26] #175 closed

[2021-02-26 15:37] #174 closed

[2021-02-26 15:37] #159 closed

[2021-03-01 13:49] a-mccarthy commented on #177
closing this. @steven-zou feel free to reopen if you spot where this should be updated, thanks!

[2021-03-01 13:49] #177 closed

[2021-04-07 19:14] a-mccarthy commented on #85
@reasonerjt is there any more work to do for this issue?

[2021-04-15 15:06] #180 closed

[2021-04-15 15:18] #152 closed

[2021-04-19 15:08] a-mccarthy commented on #137
closing this, since we already have this functionality built into the site.

[2021-04-19 15:08] #137 closed

[2021-04-19 15:11] a-mccarthy commented on #36
moved over to https://github.com/goharbor/harbor/issues/14685

[2021-04-19 15:11] #36 closed

[2021-04-19 15:38] a-mccarthy commented on #140
closing this in favor of the changes in this issue: https://github.com/goharbor/harbor/issues/14590

[2021-04-19 15:38] #140 closed

[2021-04-19 15:45] a-mccarthy commented on #121
closing this in favor of goharbor/harbor#14686

[2021-04-19 15:47] a-mccarthy commented on #85
Closing this issue, @stonezdj please re-file an issue in the main harbor repo if there is more work that is needed

[2021-04-19 15:47] #85 closed

[2021-05-24 02:22] jessehu opened #219 "Inaccruate link text related to harbor versions"
The docs links on the top right of https://goharbor.io/ says 2.2.0, 2.1.0, 2.0.0, but actually the link points to docs for all version 2.2.x or 2.1.x. So it's better to change the link to to 2.2.x (or 2.2), etc.

<img width="134" alt="image" src="https://user-images.githubusercontent.com/10006/119287580-4afb9b00-bc79-11eb-98be-d86a2750ead3.png">

The text "Harbor version 2.1.0" on https://goharbor

[2021-06-25 13:06] a-mccarthy commented on #219
We can update in the config.toml file to display the version number with .x instead of .0 in the drop down.

To change the version ion the docs page, we need to update `docs/_index.md` file for each version in the release branch (release-X.X.X) as well as the master branch

[2021-06-25 13:07] #118 closed

[2021-06-25 15:54] a-mccarthy opened #235 "Update components table to include deployed components for each patch release"
We should make sure to document which components are deployed or required for each patch version of harbor.

We currently document this per minor version, but not for the patch version, https://goharbor.io/docs/2.3.0/install-config/#harbor-components

[2021-06-25 15:54] a-mccarthy commented on #235
Do we also need to include patch versions in the table for building from source, https://goharbor.io/docs/2.3.0/build-customize-contribute/compile-guide/?

[2021-06-25 15:55] a-mccarthy commented on #235
cc: @yanji09

[2021-06-28 00:22] yanji09 commented on #235
Good point. But the component versions recommended here are for building harbor code. Generally, versions will not be changed in patch release. For now, just keep it as is.

[2021-07-21 06:42] yanji09 commented on #235
Orlin, would you help on this during Abbie's absence?

[2021-07-23 12:41] OrlinVasilev commented on #235
@yanji09 - are these true for release 2.3?

Postgresql | 9.6.10-1.ph2
Redis | 4.0.10-1.ph2
Beego | 1.9.0
Chartmuseum | 0.9.0
Docker/distribution | 2.7.1
Docker/notary | 0.6.1
Helm | 2.9.1
Swagger-ui | 3.22.1

Or they need update?

[2021-07-23 13:07] yanji09 commented on #235
They need update. You can check with Yan about the details.

[2021-07-26 09:47] OrlinVasilev commented on #235
Hi @wy65701436, can you please provide update on the versions :) thank you!

[2021-08-03 06:49] tsalm-pivotal opened #239 "Update the registry landscape to the latest versions"
Would be great to have an up-to-date comparison between the available container registries.
https://github.com/goharbor/website/blob/release-2.3.0/docs/build-customize-contribute/registry-landscape.md

[2021-08-31 20:46] perezjasonr opened #243 "Replication endpoints/rules question"
In the docs it states:

how does it determine which credentials are needed for the artifacts that come over?

I ask because the values of the harbor helm chart, under registry have, for example:

[code]

but thats not working when I try to pull after a replication. I tried the admin creds, and that worked. What determines which creds it gets?

[2021-08-31 21:41] perezjasonr commented on #243
after some testing i concluded that if it makes a new namespace/project it only has admin user. I dont see a way for replication to reference a user to allow permissions.

[2021-09-07 11:05] Hiiirad opened #245 "Overlapping components on documentation"
The component on the right of the screen of the web page overlapping the texts when scrolling.

Please fix this issue.

The screenshot of the issue is provided:

![image](https://user-images.githubusercontent.com/26739670/132334323-a76ac80c-ed3d-4490-a266-bfcda766b7c3.png)

[2021-09-28 10:58] OrlinVasilev commented on #235
@wy65701436 - are you active on this one ?

[2021-10-09 08:34] wkjun opened #253 "found create-tag-retention-rules may have a word miss"
https://github.com/goharbor/website/blob/release-2.3.0/docs/working-with-projects/working-with-images/create-tag-retention-rules.md

[code]

according to the  file content, the `harbor-rc`  may change to `harbor-nightly`

[2021-11-01 09:00] AllForNothing opened #262 "Page occlusion"
url: https://goharbor.io/docs/2.3.0/install-config/configure-yml-file/
![image](https://user-images.githubusercontent.com/30999793/139647571-7e5fda9d-d973-4eb3-b74d-e7c8f5ec1c4e.png)

[2022-01-03 01:43] ravensorb opened #272 "Documentation for custom Certificates does not seem to work"
When working on using a custom ca and certificate I was following the information on [page](docs/install-config/configure-https.md#provide-the-certificates-to-harbor-and-docker) and it indicates that the files should be copied to /data/cert -- only issue is, doesn't the configuration point to several folders under /data/shared for the certs?

[2022-01-04 08:26] mossroy opened #274 "Unclear documentation about CA/cert files to pass with "repo add" on chartmuseum"
In https://goharbor.io/docs/2.4.0/working-with-projects/working-with-images/managing-helm-charts/#add-harbor-to-the-repository-list , the `helm repo add` command-lines mention a parameter `--ca-file ca.crt`
But it's not explained where this ca.crt should be found?

The note below it says :

But the command-line only mentions one file, not two.

And it would be very helpful to give more detail on t

[2022-01-16 21:57] AbdelouahabMbarki opened #275 "Artwork Broken Link"
Hi the Link pointing to the Logos https://branding.cncf.io/projects/harbor is Broken

[2022-01-18 15:58] a-mccarthy opened #276 "Update `master` branch to `main`"
In out continued efforts to make sure that we are using inclusive terminology, we should update our default branch from `master` to `main`. This has already been done on the main harbor code repo, https://github.com/goharbor/harbor

[2022-01-18 20:50] a-mccarthy commented on #276
also need to update the load file here, https://github.com/goharbor/website/blob/master/load-docs.sh

[2022-01-18 21:08] jonasrosland commented on #276
Done, closing

[2022-01-18 21:08] #276 closed

[2022-01-20 16:24] a-mccarthy commented on #275
This link can be found in the [config.toml file](https://github.com/goharbor/website/blob/main/config.toml). We need to update `logo_repo = "https://branding.cncf.io/projects/harbor"` to  `logo_repo = "https://github.com/cncf/artwork/tree/master/projects/harbor"`

[2022-01-20 16:49] a-mccarthy opened #278 "Update links in community.md to point to main"
In our continued efforts to use inclusive wording within the harbor project, we have renamed the default branch of several harbor repos to use `main` instead of `master`. With this change we need to make sure that our docs are updated to point to the correct branch for content that lives in harbor repos.

We need to review the community.md file,https://github.com/goharbor/website/blob/main/content

[2022-01-20 16:52] a-mccarthy opened #279 "Update links in docs/_index.md to point to main"
In our continued efforts to use inclusive wording within the harbor project, we have renamed the default branch of several harbor repos to use `main` instead of `master`. With this change we need to make sure that our docs are updated to point to the correct branch for content that lives in harbor repos.

We need to review the docs/_index.md file, https://github.com/goharbor/website/blob/main/docs

[2022-01-20 18:56] a-mccarthy opened #280 "Update links in docs/administration/metrics/_index.md to point to main"
In our continued efforts to use inclusive wording within the harbor project, we have renamed the default branch of several harbor repos to use main instead of master. With this change we need to make sure that our docs are updated to point to the correct branch for content that lives in harbor repos.

We need to review the docs/administration/metrics/_index.md file, https://github.com/goharbor/web

[2022-01-20 18:59] a-mccarthy opened #281 "Update links in /docs/administration/vulnerability-scanning/_index.md to point to main"
In our continued efforts to use inclusive wording within the harbor project, we have renamed the default branch of several harbor repos to use `main` instead of `master`. With this change we need to make sure that our docs are updated to point to the correct branch for content that lives in harbor repos.

We need to review the /docs/administration/vulnerability-scanning/_index.md file, https://git

[2022-01-20 19:12] a-mccarthy opened #282 "Update links in /docs/build-customize-contribute/_index.md to point to main"
In our continued efforts to use inclusive wording within the harbor project, we have renamed the default branch of several harbor repos to use `main` instead of `master`. With this change we need to make sure that our docs are updated to point to the correct branch for content that lives in harbor repos.

We need to review the /docs/build-customize-contribute/_index.md file, https://github.com/goh

[2022-01-20 19:20] RishiKumarRay commented on #275
@a-mccarthy Can i raise a PR to fix this?

[2022-01-20 19:22] a-mccarthy commented on #275
sure thing @RishiKumarRay! thanks

[2022-01-20 19:23] a-mccarthy opened #283 "Update links that point to the Harbor repo to point to main"
In our continued efforts to use inclusive wording within the harbor project, we have renamed the default branch of several harbor repos to use `main` instead of `master`. With this change we need to make sure that our docs are updated to point to the correct branch for content that lives in harbor repos.

The follow is a list of pages that have links to a Harbor repo that point to the master branc

[2022-01-20 19:23] a-mccarthy commented on #278
closing in favor of https://github.com/goharbor/website/issues/283

[2022-01-20 19:23] #278 closed

[2022-01-20 19:23] a-mccarthy commented on #279
closing in favor of https://github.com/goharbor/website/issues/283

[2022-01-20 19:23] #279 closed

[2022-01-20 19:23] a-mccarthy commented on #280
closing in favor of https://github.com/goharbor/website/issues/283

[2022-01-20 19:23] #280 closed

[2022-01-20 19:24] a-mccarthy commented on #281
closing in favor ofhttps://github.com/goharbor/website/issues/283

[2022-01-20 19:24] #281 closed

[2022-01-20 19:24] a-mccarthy commented on #282
closing in favor of https://github.com/goharbor/website/issues/283

[2022-01-20 19:24] #282 closed

[2022-01-20 19:30] RishiKumarRay commented on #275
@a-mccarthy Please do the review #284

[2022-01-20 20:03] #275 closed

[2022-01-20 23:03] adi611 commented on #283
Please assign me this issue.

[2022-01-24 16:12] a-mccarthy commented on #283
@adi611 thank you for volunteering to help

[2022-02-09 14:21] a-mccarthy commented on #283
fixed in https://github.com/goharbor/website/pull/285

[2022-02-09 14:21] #283 closed

[2022-02-09 14:21] a-mccarthy commented on #283
thanks @adi611!

[2022-02-14 15:34] a-mccarthy commented on #235
@wy65701436 are you willing to help review the component versions from Orlin's comment [above](https://github.com/goharbor/website/issues/235#issuecomment-885610583)? These were for 2.3, have they changed since? Thanks!

Redis | 4.0.10-1.ph2
Beego | 1.9.0
Chartmuseum | 0.9.0
Docker/distribution | 2.7.1
Docker/notary | 0.6.1
Helm | 2.9.1
Swagger-ui | 3.22.1

[2022-02-14 15:52] a-mccarthy commented on #239
@tsalm-pivotal thank you for filing this, and sorry for the very delayed response. Is there something specific that you've noticed that is out of date?

[2022-02-14 16:22] a-mccarthy commented on #245
Thanks for filing! we have this issue tracked already, https://github.com/goharbor/website/issues/162, so i'm going to close this issue for now. If you'd like to work on fixing this, let's move the conversation over to 162.

[2022-02-14 16:26] a-mccarthy commented on #253
Good find, looks like we should update `harbor-rc` to be `harbor-nightly` to make the example make sense. Are you willing to fix this issue?

[2022-02-14 16:27] a-mccarthy commented on #262
We have this issue noted in https://github.com/goharbor/website/issues/162. closing this in favor of keeping the conversation happing in a single place

[2022-02-14 16:27] #262 closed

[2022-02-22 18:24] a-mccarthy commented on #243
Hello @perezjasonr hope you were able to resolve your issue. Is there a way that we should make the docs more clear? thanks!

[2022-02-22 18:35] a-mccarthy commented on #274
@ywk253100 Can you provide more info here about where to find the certs required here? thanks!

[2022-02-22 19:24] a-mccarthy commented on #272
@ravensorb thanks for filing this issue. i'm not sure what you mean by "the configuration" in your comment

Can you help me to better understand your suggestion to improve the docs? thanks!

[2022-02-23 02:44] a-mccarthy opened #289 "Update Robot account screenshots for changed column name"
In 2.5, a column name on the Robot account pages of the Harbor interface were updated from "Expires At" to "Expires In". The information in the column now shows how long until the the account token expires and is color coded to better highlight to users when tokens will expire.

Related to the PR https://github.com/goharbor/harbor/pull/16227 and issue https://github.com/goharbor/harbor/issues/8282

[2022-02-23 02:45] a-mccarthy commented on #289
@AllForNothing can you review this issue and let me know if there were any other changes that need to be updated here? thanks!

[2022-02-23 03:05] a-mccarthy commented on #121
reopening. This is still an issue that we want to look into.

[2022-02-23 03:21] a-mccarthy opened #290 "Update docs with more information around chart museum deprecation"
Based on the conversation in this [discussion](https://github.com/goharbor/harbor/discussions/15057), we should update the docs with more information about the chartmuseum deprecation

[2022-02-23 04:24] AllForNothing commented on #289
@a-mccarthy
Below screenshot is the final version (updated after the UI designer's review)
<img width="1490" alt="image" src="https://user-images.githubusercontent.com/30999793/155261037-eff912ec-7f01-4f51-a3a4-7bf03da2e532.png">
if  expired, it shows expired  with an error icon,
if left days >= 7days,  it shows a green icon
if  7days > left days > 0 , it shows an waining icon
So,   Your TODO list

[2022-02-23 13:49] ravensorb commented on #272
The docs/configuration seem to be assuming harbor is being installed on a full OS -- the issue I was running into is when harbor is running inside containers -- the paths in the docs do not seem to align with how the container configuration is defined and setup.  Is it possible a separate set of steps is needed to configure a harbor container to work with a custom cert?

[2022-03-03 19:00] Xander23432 commented on #253
Is anyone working on this issue right now..??
If not then I can work on this particular issue.

[2022-03-03 19:04] a-mccarthy commented on #253
go for it @Xander23432! thanks!

[2022-03-07 19:14] #253 closed

[2022-03-08 04:10] AllForNothing opened #297 "Updates for robot account"
In addition to the changes for the "Expires at" column

In 2.5, there are some other updates:
1. The number of permissions for robots has been increased to 18
2. "Select all" and "Unselect all" buttons were added for robot permission batch operation
<img width="991" alt="image" src="https://user-images.githubusercontent.com/30999793/157162555-8ba02b3f-bc8e-48bc-9a11-5f52c795246e.png">
3. Able to v

[2022-03-08 09:03] AllForNothing commented on #297
@a-mccarthy After testing and discussion, we will add another permission to 19 and sort the permissions. I will mention a PR later, please update the doc after my PR is merged

[2022-03-08 09:42] AllForNothing commented on #297
@a-mccarthy Please update the doc after this PR is merged, https://github.com/goharbor/harbor/pull/16487
And your Harbor will also be updated

[2022-03-08 15:23] a-mccarthy commented on #297
@AllForNothing thanks for filing this issue. I'll work on updating the docs. Just wanted to confirm, https://github.com/goharbor/harbor/pull/16487 is planned to be in 2.5, right?

[2022-03-10 07:54] AllForNothing commented on #297
@a-mccarthy Yes.  Now, this PR is merged and your Harbor is also updated. You can start to update the doc.

[2022-03-11 14:21] #289 closed

[2022-03-15 15:44] fireba11 opened #299 "update helm oci commands to work with current helm"
The helm guys changed oci commands in 3.7 (current is 3.8.x), see https://github.com/helm/helm/releases/tag/v3.7.0
So the docs in https://goharbor.io/docs/2.4.0/working-with-projects/working-with-images/managing-helm-charts/ need an update.

[2022-03-15 18:37] a-mccarthy commented on #297
Thank you @AllForNothing for writing this up!

I just want to make sure i understand what each permission does. Im a little confused about the differences between List Artifact and Read Artifact, for example. Can you make sure the following is correct? (most of the permission names are self descriptive, but i want i'm not missing an opportunity to explain things further in the docs, if needed)

*

[2022-03-15 19:34] a-mccarthy commented on #297
@AllForNothing I also created a PR https://github.com/goharbor/website/pull/300

[2022-03-16 02:56] AllForNothing commented on #297
@a-mccarthy List Artifact means you can read the list of all artifacts in the repository, Read Artifact means you can read the detailed info of an artifact.
Yes,  your understanding is correct for other items

[2022-03-22 00:10] #297 closed

[2022-03-22 05:04] a-mccarthy opened #302 "Update docs to include artifact 'Actions' drop down descriptions"
I couldn't find a place where we talk about the Actions drop down in the Harbor interface and how a user can take advantage of those options.

We should update the docs with screenshots to include information on the Copy Digest, Add Labels, Copy Artifact, and Delete options.

Important info to mention
* From [this comment](https://github.com/goharbor/website/pull/301#issuecomment-1073536713) We sh

[2022-03-23 12:30] a-mccarthy opened #303 "Update docs to use deactivate instead of disable"
The Harbor interface has been updated to use more inclusive terminology in https://github.com/goharbor/harbor/issues/16248. We should update the docs to reflect the changes in the interface.

This will include updating wording through the docs and screenshots.

https://github.com/goharbor/harbor/issues/16248 updated the word `disable` to `deactivate`. So this is the change that needs to be made.

[2022-03-23 12:30] a-mccarthy commented on #303
@AllForNothing thank you for updating the Harbor interface. What Harbor release will we see these changes in the interface?

[2022-03-23 17:57] a-mccarthy opened #304 "Make sure upgrade docs for each released version have the correct supported upgrade path listed."
According to the upgrade section of the release docs in the Harbor repo, https://github.com/goharbor/harbor/blob/main/RELEASES.md#upgrade-path-and-support-policy

We should make sure the each of the following pages lists the correct versions of the supported upgrade path, and links to previous upgrade pages.

* https://goharbor.io/docs/2.4.0/administration/upgrade/
* https://goharbor.io/docs/2.3.0

[2022-03-23 17:59] a-mccarthy opened #305 "Add sig docs meeting to community page"
We should add the SIG Docs meeting to the community pages, https://goharbor.io/community/

cc: @OrlinVasilev

[2022-03-23 17:59] a-mccarthy commented on #305
cc: @OrlinVasilev

[2022-03-24 02:59] AllForNothing commented on #303
@a-mccarthy Yes, these changes are in 2.6

[2022-03-29 16:40] a-mccarthy opened #311 "Write Release blog for 2.5"
We should write a release blog about the 2.5 release

[2022-03-29 16:43] a-mccarthy opened #312 "Blog about cosign"
We should write up a blog that explains cosign in more depth. It should include an overview of cosign and how to signed a Harbor artifact with cosign.

[2022-03-29 16:44] a-mccarthy commented on #312
@wy65701436 Orlin and I were thinking of writing a blog about using cosign with harbor. Do you have any ideas of a common use case or demo users would like to see? thanks!

[2022-03-30 09:35] wy65701436 commented on #312
@a-mccarthy , the main scenarios could be:

Manager Signature:

- create: Sign artifact with cosign and show linkage in harbor.
- delete: The signature can be removed ndividually or together with the subject artifact.
- copy: Copy artfact with signature from project A to B. User can see the artifact with signature in the project B.

Pull policy:

- User cannot pull any artifact without signature w

[2022-03-30 11:26] OrlinVasilev commented on #312
@wy65701436 Maybe some automation parts like how easy would be get that working with Jenkins pipelines or something?

[2022-03-30 12:35] #311 closed

[2022-03-30 13:10] a-mccarthy commented on #304
@eugeneivanov101

[2022-03-31 20:34] eugeneivanov101 commented on #303
@a-mccarthy I checked the "administration" folder in "website/docs" and found 4 files with "disable":

https://github.com/goharbor/website/blob/main/docs/administration/configure-authentication/db-auth.md (1)
https://github.com/goharbor/website/blob/main/docs/administration/managing-users/user-permissions-by-role.md (3)
https://github.com/goharbor/website/blob/main/docs/administration/p2p-preheat/

[2022-04-05 09:52] wy65701436 commented on #312
The flow could be:

User usurally have two harbor instances, one is staging(for pushing, build verification testing) and another is production(for pulling).

- CI pipeline builds & pushes one image into staging Harbor, and uses cosign to sign it.
- Staging Harbor triggers replcation the image the to production Harbor by event based. (It simulates that user passes their test on staging env and star

[2022-04-05 10:56] OrlinVasilev commented on #312
@wy65701436 started working on it when I have something to review will ping you thanks!

[2022-04-29 13:02] AlexBarth13 opened #334 "Remove the version number in the URL"
It would be great if the URLs in the documentation can be used without the version number in it and the request will be automatically redirected to the latest version.
Example:
Working: https://goharbor.io/docs/2.4.0/administration/configure-proxy-cache/
Not working: https://goharbor.io/docs/administration/configure-proxy-cache/

Example from Tanzu:
https://docs.pivotal.io/application-service/conc

[2022-05-09 13:10] a-mccarthy commented on #334
thanks for filing @AlexBarth13!

For more context on redirects in general, we have a redirect in place for docs/latest to send folks to the latest version. Redirects for the /latest are in this file, https://github.com/goharbor/website/blob/main/layouts/index.redirects.

And it looks like there might be a redirect in place already that tries to do this, but isn't working.

[2022-05-09 13:52] #312 closed

[2022-05-09 13:53] a-mccarthy commented on #305
@OrlinVasilev are you still willing to work on this? thanks!

[2022-05-12 03:27] Kewei-Lu opened #336 "Remove unnecessary steps on doc about enabling HTTPS"
Hi team,

I was following the [tutorial](https://goharbor.io/docs/2.5.0/install-config/configure-https/#deploy-or-reconfigure-harbor) to set harbor on my host.

For section "Provide the Certificates to Harbor and Docker" I find it may be unnecessary to provide your server certificate to docker client as it needs to install client certificate on "docker/certs.d/<Your domain or IP>" directory only i

[2022-05-25 15:23] a-mccarthy commented on #336
Thanks for filing @Kewei-Lu!

@ninjadq can you comment here with your thoughts on this? thanks!

[2022-06-22 08:45] miloslavkrisko opened #342 "Chart immutability"
This is more like an improvement request then an issue.
Currently on Helm chart section there is no way how to implement an Chart immutability the same way as it is possible for the repositories.

Use Case is following:
Let's say you have an application with Helm chart version 1.4.0 and app Version 1.4.0.
The developer prepares the changes for 1.4.1 but accidently push it without version increase

[2022-07-26 04:56] OrlinVasilev commented on #342
Hi @miloslavkrisko - I suppose that's more issue to be resolved on the chart-museum side ?

[2022-07-26 12:51] neyrick opened #347 "Proxy settings are ignored to download the DB when --insecure is on"
Hello there,

We're behind a corporate proxy and I'm testing Trivy on our test GitLab instance, which uses a self-signed certificate for HTTPS. I use http_proxy and https_proxy environment variables. The problem is:

- if I don't use "--insecure", Trivy successfully downloads its database but can't connect to my GitLab instance, which is expected
- if I do use "--insecure", Trivy can benefit from

[2022-08-01 21:10] miloslavkrisko commented on #342
Hi @OrlinVasilev  tbh i wasn't 100% if that's think which should be resolved on chart-museum side or within harbor side.

As i can imagine that on chart-museum there can be some variable or something which could enable this behaviour, but at the same time it can be part of harbor where if the toggle is setup for the project then the script would call somethink like:
helm search repo <repoName> | g

[2022-08-02 09:25] neyrick commented on #347
Wrong repo, sorry !

[2022-08-02 09:25] #347 closed

[2022-08-05 09:47] AllForNothing opened #353 "Command-line wording issues"
1. For the circled commands, should be `sudo ./prepare`
<img width="1192" alt="image" src="https://user-images.githubusercontent.com/30999793/183051623-ea784dc1-98d7-4ef4-91b5-6d636d6df692.png">

[2022-10-25 18:45] qnetter opened #372 "Need to note support of Google Cloud Artifact Repository"
Thanks to changes on the Google side, the adapter for Google Container Registry also supports the newer Google Cloud Artifact Registry. We should document that.

[2022-10-25 19:05] qnetter commented on #372
Fixed via #373 .

[2022-10-25 19:05] #372 closed

[2022-11-03 06:43] AllForNothing opened #377 "Update screenshots in doc"
Some screenshots in the documentation are out of date as the version iterates. We should update them in 2.7